ExpressMicro/Catalog/Catalog.API/obj
ExpressMicro/Catalog/Catalog.API/bin
ExpressMicro/Basket/Basket.API/obj
ExpressMicro/Basket/Basket.API/bin
ExpressMicro/src/Common/EventBusRabbitMQ/obj
ExpressMicro/src/Common/EventBusRabbitMQ/bin
ExpressMicro/obj
ExpressMicro/bin
ExpressMicro/ExpressMicro.sln
ExpressMicro/IBasketContext.cs
ExpressMicro/.vs
ExpressMicro/obj
src/Ordering/Ordering.API/bin/
src/Ordering/Ordering.API/obj/
src/Ordering/Ordering.Application/bin/
src/Ordering/Ordering.Application/obj/
src/Ordering/Ordering.Core/bin/
src/Ordering/Ordering.Core/obj/
src/Ordering/Ordering.Infrastructure/bin/Debug/
src/Ordering/Ordering.Infrastructure/obj/
